extends ../base.pug

block title
    title add new user

block content
    div(class="text-center m-4")
        h1 add a new list user
    
    form(action="/users", method="POST")
        div(class="form-group")
            label(for="username") username
            input(type="text",class="form-control",id="username",name="username",aria-describedby="usernameHelp",placeholder="Enter username" required)
        div(class="form-group")
            label(for="emailAddress") email address
            input(type="email",class="form-control",id="emailAddress",name="emailAddress",aria-describedby="emailAddressHelp",placeholder="Enter email address" required)
        div(class="form-group")
            label(for="firstName") first name
            input(type="text",class="form-control",id="firstName",name="firstName",aria-describedby="firstNameHelp",placeholder="Enter first name")
        div(class="form-group")
            label(for="lastName") last name
            input(type="text",class="form-control",id="lastName",name="lastName",aria-describedby="lastNameHelp",placeholder="Enter last name")
        
        button(type="submit",class="btn btn-secondary btn-lg btn-block") submit new user